/* ПЕРЕМЕННЫЕ */

:root {
  ---basic-header-color: #eeeeee;
  --basic-black-color: #000000;
  --basic-white-color: #ffffff;
  --basic-red-color: #FB565A;
  --basic-green-color: #00CA74;
  --basic-yellow-color: #EFC849;
  --basic-tetx-color: #283136;
  --footer-background-color: #888888;
  --opasity-color: rgba(0, 0, 0, 0.2);
  --opasici-link-active:rgba(0, 0, 0, 0.3);
  --colro-red-hover: #E74246;
  --color-red-active: #D7373B;
  --color-green-hover: #00BC6C;
  --color-green-active: #00AA62;
  --color-yellow-hover: #EAB534;
  --color-yellow-active: #E5A722;
  --color-map-text:#666666;
  --opacity-hard: 0.6;
  --color-price-control:#D7DCDF;
  --background-sites-color:#c4c4c4;
  
  --basic-font: "Roboto", "sans-serif";

}

/* ШРИФТЫ */

@font-face {
  font-family: "Roboto";
  font-size: 700;
  font-style: normal;
  src: local("Roboto"), url("../fonts/robotobold.woff2") format("woff2"),
  url(../fonts/robotobold.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-size: 500;
  font-style: normal;
  src: local("Roboto"), url("../fonts/robotomedium.woff2") format("woff2"),
  url(../fonts/robotomedium.woff) format("woff");
}

@font-face {
  font-family: "Roboto";
  font-size: 400;
  font-style: normal;
  src: local("Roboto"), url("../fonts/robotoregular.woff2") format("woff2"),
  url(../fonts/robotoregular.woff) format("woff");
}

/*БАЗАВАЯ РАЗМЕТКА*/

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: var(--basic-font);
  background-color: var(--body-color);
}

.container {
  width: 1200px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

a {
  text-decoration: none;
}
button{
  border: none;
  background-color: rgba(0, 0, 0, 0);
}


ul {
list-style: none;
}

fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

input[type="number"]{
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus{
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  cursor: default;
}

p{
  cursor: default;
}

strong{
  cursor: default;
}

b{
  cursor: default;
}

li{
  cursor: default;
}

th{
  cursor: default;
}

tr{
  cursor: default;
}

address{
  cursor: default;
}


/* БАЗАВАЯ ТИПОГРАФИЯ */


/*HEADER*/
.header{
  width: 100%;
  background-color: var(---basic-header-color); 
}



.header__logo{
  margin-top: 48px;
}
/*nav*/
.nav-user{
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-user__list{
  display: flex;
align-items: center;
padding-top:62px;

}

.nav-user__item{
  margin:0 43px 0 2px;
}

.nav-user__link{
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black-color);
  
}

.nav-user__link--bascket{
  position: relative;
  margin-top: 60px;
  padding-left: 45px;
}

.nav-user__link--bascket::before{
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 8px;
  left: 5px;
  background-image: url(../img/icon/cart-icon.svg);

}

.nav-user__link:hover{
  color: var(--basic-red-color);
}

.nav-user__link:active{
  color:var(--opasici-link-active);
}
/*SLIDER*/

.slider{
  position: relative;
 background-color: var(---basic-header-color);
}

.slider__slide{
display: flex;
justify-content: space-between;
height: 431px;


}

.slider__inner{
  padding: 76px 0 0 13px;
}

.slider__slogan{
  font-family: var(--basic-font);
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 55px;
line-height: 55px;
color: var(--basic-black-color);
margin: 75px 0 0 0p;
}

.slider__text{
  font-family: var(--basic-font);
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--basic-black-color);
margin: 26px 0 0 0;
}

.slider__link{
display: flex;
justify-content: center;
align-items: center;
font-family: var(--basic-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: var(--basic-white-color);
text-transform: uppercase;
background-color: var(--basic-red-color);
width: 240px;
height: 50px;

margin: 38px 0 0 0;
border-radius: 3px;
}

.slider__link:hover{
background-color: var(--colro-red-hover);

}

.slider__link:active{
  background-color: var(--color-red-active);
  color: var(--opasici-link-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider__img{
 margin: -3px -9px 0 0;
}

.slider__control{
  position: absolute;
  content: "";
  bottom: 100px;
  left: 50%;
  translate:-50%;
display: flex;
justify-content: space-between;
width: 88px;

}

.slider__button{
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--basic-white-color);
}

.slider__button::before{
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border: var(--footer-background-color) 1px solid;
  border-radius: 50%;
}

.slioder__slide--two{
  display: none;
}

.slider__slide--three{
  display: none;
}

/*SERVICE*/

.service{
  display: flex;
  justify-content: space-between;
}

.service__col{
  padding: 77px 61px 77px 0;
}

.service__title{
  font-family: var(--basic-font);
  font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
color: var(--basic-black-color);
text-transform: uppercase;
margin: 20px 0 0 0;
}

.service__text{
  font-family: var(--basic-font);
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--basic-tetx-color);
margin: 17px 0 0 0;
}

.service__link{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--basic-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 18px;
color: var(--basic-white-color);
text-transform: uppercase;
width: 160px;
height: 50px;

margin: 32px 0 0 0;
border-radius: 3px;

}


.service__link--red{
  background-color: var(--basic-red-color);
}

.service__link--red:hover{
 background-color: var(--colro-red-hover);
}

.service__link--red:active{
  background-color: var(--color-red-active);
  color: var(--opasici-link-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.service__link--green{
  background-color: var(--basic-green-color);
}

.service__link--green:hover{
  background-color: var(--color-green-hover);
}

.service__link--green:active{
  background-color: var(--color-green-active);
  color: var(--opasici-link-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service__link--yellow{
  background-color: var(--basic-yellow-color);
}

.service__link--yellow:hover{
background-color: var(--color-yellow-hover);
}

.service__link--yellow:active{
  background-color: var(--color-yellow-active);
  color: var(--opasici-link-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*ABOUT-US*/

.about-us{
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;

}

.about-us__col{
  padding: 77px 0 0 0;
}

.about-us__desc{
  font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 45px;
color: var(--basic-black-color);
}

.about-us__text{
  font-family: var(--basic-font);
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: var(--basic-black-color);
margin: 34px 0 0 0;
}

.about-us__subtitle{
  display: block;
  font-family: var(--basic-font);
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: var(--basic-black-color);
text-transform: uppercase;
margin: 40px 0 0 0;
}

.about-us__list{
  margin: 23px 0 0 0;
}

.about-us__item{
  position: relative;
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 24px;
  margin: 0 0 24px 0;
  padding: 0 0 0 36px;
}

.about-us__item::before{
 position: absolute;
 content: "";
 top: 11px;
 left: 0px;
 border: var(--basic-red-color) 1px solid;
 width: 25px;
}

.about-us__img{
  margin: -34px 0 0 83px;
}

.about-us__caption{
  display: block;
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 24px;
 color: var(--basic-black-color);
 text-transform: uppercase;
 margin: 33px 0 0 101px;
}

.about-us__table{
  margin: 20px 0 0 0;
}



.about-us__table-row{
  display: flex;
 margin: 11px 0 0 59px;
}



.about-us__table-heading{
  position: relative;
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 700;
 font-size: 45px;
 line-height: 64px;
 color: var(--basic-black-color);
 margin: 0 -10px 0 23px;

}



.about-us__table-cell{
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 18px;
 color: var(--basic-black-color);
  margin: 0 19px 0 19px;
}


/*PROJECT*/

.projects{
 position: relative;
}

.projects::before{
  position: absolute;
  content: "";
  border: var(--opasity-color) 1px solid;
  width: 100%;
}

.projects::after{
  position: absolute;
  content: "";
  border: var(--opasity-color) 1px solid;
  width: 100%;
  bottom: 0;

}

.projects__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 43px 39px 25px ;
  margin: 0 0 83px 0;
}

.projects__link{
  position: relative;
  width: 209px;
  height: 94px;
 opacity: 0.2;
}

.projects__link::before{
  position: absolute;
  content: "";
  border: var(--opasity-color) 1px solid;
  height: 52px;
}

.projects__link:hover{
  opacity: 1;
}

.projects__link:active{
  opacity: 0.1;
}

.map{
  position: relative;
  background-image: url(../img/map.jpg);
 
  width: 1440px;
  height: 416px;
  padding: 51px 0 0 140px;
}

.map::after{
  position:absolute;
  content: "";
  top: 85px;
  left: 822px;
  width: 238px;
  height: 196px;
  background-image: url(../img/map-marker.png);
}

.map__contacts{
  
  width: 318px;
  height: 308px;
  background-color: var(--basic-white-color);
  padding: 50px 0 0 50px;
  
}

.map__title{
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 700;
 font-size: 18px;
 line-height: 30px;
 color: var(--basic-black-color);
 text-transform: uppercase;
 margin: 0 0 23px 0;
}

.map__text{
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 18px;
 color: var(--color-map-text);
 margin: 0 0 18px 0;
}

.map__link{
  display: inline-block;
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 18px;
 color: var(--color-map-text);
 margin: 0 0 37px 0;

}

.map__button{
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 18px;
 color: var(--basic-white-color);
 background-color: var(--basic-red-color);
 text-transform: uppercase;
 width:219px ;
 height:50px ;
 border: none;
 border-radius: 3px;
 cursor: pointer;
}

.map__button:hover{
  background-color: var(--colro-red-hover);
}

.map__button:active{
  background-color: var(--color-red-active);
  color: var(--opasici-link-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
   
/*FOOTER*/

.footer{
  display: flex;

 align-items: center;
 height: 217px;
}

.social__list{
  display: flex;
  justify-content: space-between;
}




.social__link{
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--footer-background-color);
  
  width: 81px;
  height: 81px;
 border-radius: 50%;
 margin: 0 9px 0 0;
}

.social__link:hover{
  background-color: var(--colro-red-hover);
}

.social__link:active{
  background-color: var(--color-red-active);
  opacity: var(--opasity-color);
}

.footer__sentence{
  
 padding: 0 0 0 130px;
}

.footer__title{
  font-family: var(--basic-font);
 font-style: normal;
 font-weight: 700;
 font-size: 36px;
 line-height: 36px;
 color: var(--basic-black-color);
}

.footer__text{
  font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 22px;
 color: var(--color-map-text);
 margin: 12px 0 0 0;
}

/*КАТАЛОГ*/

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  background-color: var(---basic-header-color);
  margin: 0 0 0 0;
}

.catalog__title{
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 500;
 font-size: 55px;
 line-height: 55px;
 color: var(--basic-black-color);
  margin: -34px 0 0 0;
}

.catalog{
  display: flex;
}

.catalog-col{
  margin: 53px 0 0 0;
}

/*СТОИМОСТЬ*/

.catalog-col--left{
  margin: 53px 139px 0 0;
}

.title{
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 700;
 font-size: 18px;
 line-height: 30px;
 color: var(--basic-black-color);
 text-transform: uppercase;
}

.price__control{
  position: relative;
  background-color: var(---basic-header-color);
  width: 260px;
  height: 80px;
  margin: 48px 0 0 0;
  border-radius:3px ;
}

.price__scale{
  position: absolute;
  content: "";
  border: var(--color-price-control) 1px solid;
  top: 39px;
  left: 33px;
  width: 205px;

}

.price__bar{
  position: absolute;
  content: "";
  border: var(--basic-green-color) 1px solid;
  top: -1px;
  width: 138px;
}

.price__toogle{
  position:absolute;
  content: "";
  border: var(--basic-white-color) 10px solid;
 box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
 top: -10px;
 border-radius: 50%;
 cursor: pointer;
}

.price__toogle::after{
  position: absolute;
  content: "";
  border: var(--footer-background-color) 2px solid;
  border-radius: 50%;
  top: -2px;
  left: -2px;
}



.price__toogle--min{
  left: -16px;
}

.price__toogle--max{
  right: 56px;
}



.price__values{
  margin: 13px 0 0 0;
}

.price__values input{
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 22px;
 color: var(--basic-tetx-color);
 background-color: var(---basic-header-color);
 border: none;
 border-radius: 3px;
 text-align: center;
  width: 80px;
  height: 38px;
  
}

.price__min{
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-tetx-color);
  text-transform: uppercase;
}
.price__input--max{
  margin: 0 0 0 8px;
}

.price__input--min{
  margin: 0 0 0 10px;
}

.price__max{
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-tetx-color);
  text-transform: uppercase;
  margin: 0 0 0 30px;
}

/*GRID*/

.grid{
  margin: 55px 0 0 0;

}

.grid__item{
  
  margin: 19px 0 0 0;
}

.grid__label{
  position: relative;
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
 color: var(--basic-tetx-color);
  padding:  0 0 0 36px;
  cursor: pointer;
}

.grid__input + .grid__label::before{
  position: absolute;
  content: "";
  top: -6px;
  left: 0px;
  width: 25px;
  height: 25px;
  border: var(--basic-black-color) 4px solid;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.4;

}

.grid__input:checked + .grid__label::after{
  position: absolute;
  content: "";
  border: var(--basic-black-color) 4px solid;
  width: 8px;
  height: 8px;
  top: 2px;
  left: 9px;
  border-radius: 50%;
  opacity: 0.4;
}

.grid__input + .grid__label:hover::before,
.grid__input + .grid__label:hover::after{
  opacity: 1;
}





/*peculiarities*/

.peculiarities{
  margin: 44px 0 0 0;
}

.peculiarities__list{
  margin: 17px 0 0 0;
}

.peculiarities__label{
  position: relative;
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 20px;
 color: var(--basic-tetx-color);
 padding: 0 0 0 36px;
 cursor: pointer;
}

.peculiarities__input + .peculiarities__label::before{
  position: absolute;
  content: "";
  top: -3px;
  left: 0px;
  width: 23px;
  height: 23px;
  border: var(--basic-black-color) 2px solid;
  opacity: 0.4;
  cursor: pointer;
  
}





.peculiarities__input:checked + .peculiarities__label::after{
  position: absolute;
  content: "";
  left: 5px;
  background-image: url(../img/icon/ok.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
  width: 21px;
  height: 17px;
  cursor: pointer;
}

.peculiarities__input + .peculiarities__label:hover:before,
.peculiarities__input + .peculiarities__label:hover::after{
  opacity: 1;
}


.peculiarities__item{
  margin:0 0 20px 0 ;
}

.form__button{
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 18px;
 color: var(--basic-black-color);
 text-align: center;
 text-transform: uppercase;
  background-color: var(---basic-header-color);

  width: 260px;
  height: 50px;
  margin: 29px 0 0 0;
  border-radius: 3px;
  cursor: pointer;
}

.form__button:hover{
  background-color: #DFDFDF;
}

.form__button:active{
  color: var(--opasici-link-active);
  background-color: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}



/*СОРТИРОВАТЬ*/

.sorting__heading{
  display: flex;
  align-items: center;
}

.sorting__title{
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 700;
 font-size: 18px;
 line-height: 30px;
 color: var(--basic-black-color);
 text-transform: uppercase;
}

.sorting__list{
  display: flex;
  
  margin: 0px 0 0 240px;
  
}

.sorting__item{
  margin: 0 0 0 28px;
}

.sorting__button{
  font-family: var(--basic-font);
  font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 18px;
 color: var(--opasici-link-active);
 text-transform: uppercase;
cursor: pointer;
}





.sorting__button:hover{
  opacity: var(--opacity-hard);
}
.sorting__button--active:hover{
  opacity: 1;
}

.sorting__button:active{
  color: var(--basic-black-color);
}

.sorting__button--active{
  color: var(--basic-black-color);

}


.sotring__button--down{
  opacity: 0.2;
  margin: 0 0 0 17px;
  cursor: pointer;
}

.sotring__button--up{
  opacity: 0.2;
  margin: 0 0 0 -10px;
  cursor: pointer;
}

.sotring__button--down:hover{
opacity: 0.6;
}

.sotring__button--up:hover{
  opacity: 0.6;
}

.sotring__button--down:active{
  opacity: 1;
}

.sotring__button--up:active{
  opacity: 1;
}

/*SITES*/

.sites{
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 41px;
row-gap: 26px;
margin: 49px 0 0 0;
}

.sites__item{
  position: relative;
  margin: 0 0 0 2px;
  padding: 40px 0 0 0 ;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sites__item::before{
position: absolute;
content: "";
top: 1px;
left: -4px;
width: 101%;
height: 40px;
background-image: url(../img/browser.png);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
opacity: 0.2;
}

.sites__item:hover::before{
  opacity: 1;
  cursor: pointer;
}

.sites__aside{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 231px;
  margin: -231px 0 0 0;
  background-color: var(---basic-header-color);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.sites__item:hover .sites__aside{
  opacity: 1;
 

}



.sites__subtitle{
  display: inline-block;
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black-color);
  text-transform: uppercase;
  margin: 22px 0 0 0;
}

.sites__text{
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-map-text);
  margin: 14px 0 0 0;
}

.sites__button{
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white-color);
  background-color: var(--basic-red-color);
  border-radius: 3px;
  width: 200px;
  height: 50px;
  margin: 32px 0 0 0;
  cursor: pointer;
}








/*feedback*/

.feedback{
  display: none;
}